DB_PASSWORD=curso
DB_USERNAME=root
DB_PORT=3306

JWT_SECRET=your-super-secure-jwt-secret-change-in-production

VITE_API_URL=/api
VITE_BASE=/

VITE_API_URL_ADMIN=/api
VITE_BASE_ADMIN=/admin/

PHPMYADMIN_PORT=8081

NGINX_PORT=80
NGINX_HTTPS_PORT=443
DOMAIN_NAME=tudominio.com